{% extends 'main/base.html' %}








  {% block article %}

      <div class="row main_space" >

          <div class="col-md-6 col-lg-6 col-sm-12">

            <h4>Контакты</h4>
            <br/>
            {% if contacts %}
              {% for c in contacts %}
                <div >
                    <h5>{{c.name}}</h5>
                    <div style="line-height: 0.5em !important;">
                        <p>Телефон: {{c.telephone}}</p>
                        <p>Email: {{c.email}}</p>
                        <i>{{c.description}}</i>
                    </div>
                </div>
                <br/>
              {% endfor %}
            {% endif %}


             </div>

          


      
        <div class="col-md-6 col-lg-6 col-sm-12">
               <h6>Как до нас добраться:</h6>
               
                 <iframe style="width:95%;" src="https://yandex.ru/map-widget/v1/?um=constructor%3Aac94f7777f57b5296d6680bfb95f234997eab89b64b68b29340ee0c4b0948b73&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
              
        </div>

</div>
      

{% endblock %}
