{% extends 'main/base.html' %}





{% load static %}


  {% block article %}
  <script type="text/javascript" src="{% static "js\ajax_new_mp.js" %}">  </script>

      <div class="row main_space" >

          <div class="col-md-9 col-lg-9 col-sm-12"> 
            <h4>{{info.name}}</h4>
            <img src="{{MEDIA_URL}}{{info.image1.url}}" class="mp_school"/>
            {{info.description|linebreaks}}

             </div>
          <div class="col-md-3 col-lg-3 col-sm-12">
        
          <h6>  Последние новости:</h6>
              <div class="list-group" >
                    {% for n in news %}
                          <div href="" id="{{n.id}}" class="list-group-item list-group-item-action"  aria-current="true">
                                <div class="d-flex w-100 " >
                                 <div class="row">
                                        <div class="col-md-11 col-lg-11 col-sm-11" >
                                          <b>{{n.name}}</b>
                                            <p>{{n.short_description}}</p>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-sm-1">
                                          {% if n.hot_new == "Y" %}
                                            <img src="{% static 'icons/firegif1.gif' %}"  class="hot_new"   alt="new!"/>
                                          {% endif %}
                                        </div>
                                 </div>
                                 </div>

                          </div>
                    {% endfor %}


              </div>
          </div>

          <div class="modal fade" tabindex="-1" id='new_modal' data-backdrop="static">
                <div class="modal-dialog modal-xl">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Modal title</h5>
                                  <button type="button" class="close close_exh" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>

                      <div class="modal-body">
                        <div class="container_fluid">
                                  <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div style="min-height:400px;">
                                              <img  src="" class="modal_img1" />
                                             </div>
                                             <button class="btn btn_search" id="prev_photo"><<</button>
                                             <button class="btn btn_search" id="next_photo">>></button>
                                              <br/>
                                              <br/>
                                            <p><b>Посмотрите видео по данному событию:</b></p>
                                             <iframe width="100%" height="300"> src="">
                                             </iframe>
                                        </div>

                                        <div class="exponate_text col-md-6 col-lg-6 col-sm-12"  >
                                        </div>
                                  </div>
                        </div>
                    </div>
              </div>
          </div>
  </div>












        </div>

{% endblock %}
